html, body {
  position:absolute; left:0; top:0;
    width:100%; height:100%; max-height:100% !important;
    margin:0; padding:0;
    overflow:hidden;
}

.filename{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  background-color: #ffffff;
  border: solid 2px #7e7e7e;
  border-radius: 12px;
  white-space: nowrap;
  font-family: Helvetica, arial, sans-serif;
  font-size: 13px;
  height: 24px;
  box-sizing: border-box;
}
.filename:hover {
  background-color: #d1d1d1;
  transition: background-color .2s linear;
}

.split.content {
  padding: 0;
  margin: 0;
  height: calc(100% - 24px);
  background-color: #ffffff;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  padding: 0;
  margin: 0;
  float: left;
  background-color: #7e7e7e;
}
